.custom_button {
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: var(--white-color);
    background: var(--gradient);
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.small {
    padding: 4px 14px;
    font-size: 13px;
    line-height: 13px;
    border-radius: 4px;
    transition: .3s;
}

.small:hover {
    box-shadow: inset 5px 5px 10px  rgba(0, 0, 0, 0.4),
        inset -5px -5px 10px rgba(49, 49, 49, 0.4);
}
.small:active{
    transform: scale(0.95);
}
.medium {
    padding: 8px 14px;
    font-size: 18px;
    line-height: 18px;
    border-radius: 8px;
    transition: .3s;
}
.medium:hover {
    box-shadow: inset 5px 5px 10px  rgba(0, 0, 0, 0.4),
        inset -5px -5px 10px rgba(49, 49, 49, 0.4);
}
.medium:active{
    transform: scale(0.95);
}
.large {
    padding: 8px 18px;
    font-size: 22px;
    line-height: 22px;
    border-radius: 10px;
    transition: .3s;
}
.large:hover {
    box-shadow: inset 5px 5px 10px  rgba(0, 0, 0, 0.4),
        inset -5px -5px 10px rgba(49, 49, 49, 0.4);
}
.large:active{
    transform: scale(0.95);
}
.full_width__medium{
    width: 100%;
    padding: 8px 14px;
    font-size: 18px;
    line-height: 18px;
    border-radius: 8px;
    transition: .3s;
}
.full_width__medium:hover {
    box-shadow: inset 5px 5px 10px  rgba(0, 0, 0, 0.4),
        inset -5px -5px 10px rgba(49, 49, 49, 0.4);
}
.full_width__medium:active{
    transform: scale(0.95);
}